<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>write-only-raed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>
<body>
    <header>
        <div class="header-left">
            <div class="logo">
                <img src= "{{ url_for('static', filename='img/logo.PNG') }}" alt="" style="width: 200px; height: auto;">
            </div>
            <nav>
                <ul>
                    <li>
                        <a href= "{{ url_for('index') }}">Home</a>
                    </li>
                    <li>
                        <a href="{{ url_for('arsenal') }}">Arsenal</a>
                    </li>
                    <li>
                        <a href="{{ url_for('category') }}">Category</a>
                    </li>
                    <li>
                        <a href="{{ url_for('write') }}">Write</a>
                    </li>
                    <li>
                        <a href="{{ url_for('discuss') }}">Discuss</a>
                    </li>
                    <li>
                        <a href="{{ url_for('about') }}" class="active">About</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>